

<h1 style="background-color:black;color:dimgrey"> Hello : First Partial View</h1>


<div style="background-color:darkorange">
<ul>
    <li> Nikhil</li>
    <li> Kriti</li>
    <li> Sowmya</li>
    <li> Rohan</li>
    <li> Mohan</li>
</ul>
</div>