

<h1> Product List </h1>


<ul>
    <li>Pepsi</li>
    <li>IPhone</li>
    <li>Coke</li>
    <li>dell</li>
    <li>Air pods</li>
    <li>Charger</li>
    <li>Sandwitch</li>
    <li>T-Shirt</li>

</ul>