@{
    ViewData["Title"] = "Home Page";
}



<h1> Welcome to My Shopping APP </h1>

<p> Hello and welcome to shopping experience, this is my first day and first app on .net core MVC </p>
<p> Will complete the real world app development during the training</p>