@model clientManagementMVC_DI.Models.EF.ClientInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClientInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Clientid" />
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientLocation" class="control-label"></label>
                <input asp-for="ClientLocation" class="form-control" />
                <span asp-validation-for="ClientLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectValue" class="control-label"></label>
                <input asp-for="ProjectValue" class="form-control" />
                <span asp-validation-for="ProjectValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientIsActive" class="control-label"></label>
                <input asp-for="ClientIsActive" class="form-control" />
                <span asp-validation-for="ClientIsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



@Html.Partial("~/views/shared/partialviews/_greetings.cshtml");