

<input type="number" placeholder="From Account" class="form-control" />
<input type="number" placeholder="To Account" class="form-control" />
<input type="number" placeholder="Amount " class="form-control" />

<button class="btn btn-info">Transfer</button>